body {
    font-family: 'Roboto', sans-serif;
}

header {
    border-top: 6px solid #d23017;
    margin-bottom: 50px;
}

a, a:hover, a:visited {
    color: #d23017;
    text-decoration: none;
}

header img.logo {
    height: 80px;
}

input.form-control {
    box-shadow: 0px 0px 20px 0px #ddd;
    line-height: 2.5em;
}

.search {
    margin: 50px 0px;
}

.city {
    color: #d23017;
}

h1 {
    font-size: 2em;
    font-weight: 700;
    color: #342D28;
}

h2 {
    font-size: 1.2em;
    font-weight: 400;
    color: #342D28;
    width: auto;
}

h3 {
    font-size: 1em;
    color: #d23017;
    text-transform: uppercase;
    font-weight: 500;
}